/*importamos las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*seccion header*/
.header{
    background-color: #141212;
    position:absolute;
    width: 100%;
}
.foto-header {
    text-align: end;
}
.foto-header img{
    width: 200px;
    height: 200px;
}


body {
    background-image: url(./img/La\ muerte\ tarot\ Fondo\ para\ whatsapp.png); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

/*Seccion inicio*/
.inicio{
    position: relative;
    background-size: cover;
    background-position: center center;
    color: #efaaaa;
    max-width: 100%;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}
h1{
font-family: copperplate;
}

/*menu lateral*/

.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #efaaaa;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ****** */ 

.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px palevioletred;
}
.inicio .contenido-seccion header .logo .color{
    color: white;
    font-family:"Yellowtail" ;
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color:#c58b8b;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    transform: translateX(-50%)
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
    color: #bd9d9d;
}
.header .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color:#efaaaa;
    color:black;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 30px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: black;
    background-color: #c58b8b;
    box-shadow: 0 0 20px rgb(245, 145, 145);
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    border-radius: 1%;
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: -205px;
    transform: translateX(-50%);
    border: solid 1px black
}
.fa-solid{
    color: white;
}

/*seccion inicio 2*/

.inicio2{
    position: relative;
    background-size: cover;
    background-position: center center;
    color: #efaaaa;
    max-width: 100%;
}
.inicio2 .contenido-seccion2{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio2 .contenido-seccion2 header{
    padding: 30px;
}
h1{
font-family: copperplate;
}

/*menu lateral2*/

.inicio2 .contenido-seccion2 header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #efaaaa;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio2 .contenido-seccion2 header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ****** */ 
.inicio2{
    display: none;
}
.inicio2 .contenido-seccion2 header .logo2{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px palevioletred;
}
.inicio2 .contenido-seccion2 header .logo2 .color2{
    color: white;
    font-family:"Yellowtail" ;
}
.inicio2 .contenido-seccion2 header .nav-bar2{
    position: fixed;
    background-color:#c58b8b;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    transform: translateX(-50%)
}
.inicio2 .contenido-seccion2 header .nav-bar2:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio2 .contenido-seccion2 .info2{
    padding-bottom: 130px;
}
.inicio2 .contenido-seccion2 .info2 h1{
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
}
.inicio2 .contenido-seccion2 .info2 h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
    color: #bd9d9d;
}
.header2 .contenido-seccion2 .info2 .redes2{
    margin: 20px 0;
}
.inicio2 .contenido-seccion2 .info2 .redes2 a{
    display: inline-block;
    text-decoration: none;
    background-color:#efaaaa;
    color:black;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 30px;
    transition: .3s;
}
.inicio2 .contenido-seccion2 .info2 .redes2 a:hover{
    color: black;
    background-color: #c58b8b;
    box-shadow: 0 0 20px rgb(245, 145, 145);
}
.inicio2 .contenido-seccion2 .foto2{
    position: relative;
}
.inicio2 .contenido-seccion2 .foto2 img{
    border-radius: 1%;
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: -205px;
    transform: translateX(-50%);
    border: solid 1px black
}
.fa-solid{
    color: white;
}

/*SECCION SOBRE MI CAMINO */

.sobremicamino{
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;

    
}
.sobremicamino .contenido-seccion2{
    max-width: 1000px;
    margin: 50px;
    padding: 0 10px;
}
.sobremicamino .contenido-seccion2 .titulo-seccion{
    font-size: 50px;
    color: rgb(150, 67, 38);
    font-family: Verdana;
    font-family: 'PT Sans';
}
.sobremicamino .contenido-seccion2 .especial2{
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
.sobremicamino .contenido-seccion2 .especial2-1{
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
.sobremicamino .contenido-seccion2 .especial2-2{
    color: rgb(61, 60, 60);
    font-weight: bold;
    margin-top: 15px;
}
.sobremicamino .contenido-seccion2 .especial2-3{
    margin: 3%;
    font-family: copperplate;
    font-size: 50px;
}

/*SECCION IMAGEN Y TEXTO*/

.imagen-texto{
    margin-top: auto;
    max-width: 1000px;
    background-color: #000;
    margin: auto;
    border: 2px solid white;
}

.contenedor-imagen-texto{
    display: flex;
    align-items: center;
}

.imagenMia{
    height: 100%;
    padding: 100px;
}

.imagenMia img{
    max-width: 100%;
}

.textoCamino{
    background-color: #c58b8b;
}

.h4Texto{
    padding: 5%;
    font-size: medium;
    color: white;
}



/*SECCION SOBRE MI min */

.sobremi{
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    background-color: #000;
    margin: auto;
    padding: 0 10px;
    border: 2px solid white;
}
.sobremi .contenido-seccion .titulo-seccion-servicios .especial{
    max-width: 100%;
    text-align: center ;
    border-radius: 10%;
    font-size: 20px;


}
.sobremi .contenido-seccion .titulo-seccion{
    font-family: 'copperplate';
    font-size: 50px;
    color: white;
}
.sobremi .contenido-seccion .especial{
    color: #f5f1f3;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 900px;
    margin: auto;
    color: #c0bebe;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
    color: #f7e5ee;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid purple;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

.wrap{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta{
    width: 300px;
    height: 350px;
    background-color: #c58b8b;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.atras{
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}

.card1{
    background-image:url(./img/imgTarot7.avif);
    background-size: cover;
}


/* SECCION RESUMEN*/

.resumen{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/imgTarot3.jpg");
    padding: 140px 0 100px 0;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    font-family: copperplate;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;
}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bababa;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: #940253;
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}


.sobremi2{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/imgTarot3.jpg");
    padding: 140px 0 100px 0;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 140px 0 100px 0;
    text-align: center;
    padding: 150px 0 150px 0;
    
}
.sobremi2 .contenido-seccion2{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi2 .contenido-seccion2 h3{
    text-transform: uppercase;
    font-size: 30px;
    max-width: 100%;
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/imgTarot3.jpg");
    padding: 140px 0 100px 0;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.sobremi2 .contenido-seccion2 .especial2{
    color: purple;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi2 .contenido-seccion2 p{
    max-width: 700px;
    margin: auto;
    color: #141414;
}
.sobremi2 .contenido-seccion2 .fila2{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi2 .contenido-seccion2 .fila2 .col2{
    width: 30%;
}
.sobremi .contenido-seccion .fila2 .col2 {
    color: purple;
    display: inline-block;
    width: 10px;
    height: 40px;
    border: 2px solid purple;
    line-height: 40px;
    border-radius: 50%;
    max-width: 100px;
}
.fila2 .col2 img{
    padding: 2px;
    max-width: 150px;
    max-height: 150px;
    border: 2px solid black;

}

/*FORMULARIO*/

.formu{
        max-width: 1000px;
        background-color: #000;
        margin: auto;
        padding: 0 10px;
        border: 2px solid white;
}

form{
    text-align: center;
    font-size:large;
}

#formulario{
    background-color: #000;
    color: white;
    padding: 40px;
    
}

#formulario form{
    font-size: 25px;
    margin: 0 auto;
    width: 400px;
}

textarea{
    height: 100px;
    width: 400px;
}

.campo{
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    background-color: #bd9d9d;
}

.campo:hover{
    background-color: white;
}

/* SECCION CONTACTO*/

.contacto{
    background-color: #0c0b0b;
    padding: 140px 0 100px 0;
    color: rgb(250, 246, 246);
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    font-family: copperplate;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #c58b8b;
}

/* SECCION RESPONSIVE*/
@media screen and (max-width:800px){
    .header img{
        width: 130px;
        height: 130px;
    }
    .logo2 .color2{
        display: contents;
    }
    .inicio2 .contenido-seccion2 header .logo2{
        display: contents;
    }
    .inicio{
        display: none;
    }
    .inicio2{
        display: contents;
    }
    .inicio2 .contenido-seccion2 .info2 h1{
        margin: 5%;
        font-size: 30px;
    }
    .inicio .contenido-seccion .info h1{
        display: none;
    }
    .inicio .contenido-seccion header .logo{
        display: none;
    }
    .inicio .contenido-seccion .info h2{
        display: none;
    }
    .redes{
        margin-top: 123px;
    }
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .sobremi .contenido-seccion2 .fila2{
        display: block;
    }
    .sobremi .contenido-seccion2 .fila2 .col2{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        
    }
    .sobremicamino .contenido-seccion2 .titulo-seccion{
        font-size: 30px;
    }

    .sobremi .contenido-seccion .titulo-seccion{
        font-size: 30px;
    }

    .sobremicamino .contenido-seccion2 .especial2-3{
        font-size: 20px;
    }

    .sobremicamino .contenido-seccion2{
        max-width: 95%;
    }

    .sobremi .contenido-seccion {
        max-width: 95%;
    }

    .imagen-texto{
        max-width: 75%;
    }

    .sobremicamino .contenido-seccion2 .especial2-1{
        font-size: 20px;

    }
    
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen .contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
    .container {
        max-width: 301px;
    }
    .carousel-item img{
        width: 300px;
        border: 2px solid black;
    }
    .wrap{
        display: block;
    }

    .tarjeta{
        max-width: 100%;
    }
    .card1{
        max-width: 100%;
    }
    .inicio2 .contenido-seccion2 .info2{
        padding-bottom: 10px;
    }
    .contenedor-imagen-texto{
        display: block;
    }
    .imagenMia img{
        max-width: 100%;
    }
    .textoCamino{
        text-align: center;
    }
    .h4Texto{
        max-width: 100%;
    }
    .imagen-texto{
        max-width: 95%;
    }
    .formu{
        max-width: 95%;
    }
    #formulario{
        padding: 0;
    }
    form {
        max-width: 100%;
        text-align: center;
        font-size: medium;
    }
    .campo{
        background-color: #bd9d9d;
        max-width: 100%;
    }
    .campo:hover{
        background-color: white;
    }
    
    textarea{
        max-width: 100%;
        background-color: grey;
    }


}
